* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
.page-container {
  max-width: 1000px;
  margin: 0 auto;
}

/*===HEADER SECTION===*/
.hero-image-and-text {
  height: 400px;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 10%;
  left: 20%;
  color: white;
  font-size: x-large;
  font-weight: bold;
}

/*===NAV SECTION===*/
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding: 10px;
  background-color: black;
  flex-wrap: wrap;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: large;
}
/*MAIN SCHEMA-GRID LAYOUT*/
.schema {
  background-color: black;
  color: white;
}

.schema-kort {
  background-color: aqua;
  border: 1px solid black;
  padding: 1rem;
  gap: 1rem;
}
.schema-article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: black;
  padding: 1rem;
  gap: 1rem;
}
